body {
    margin: 0;
}

#camera-wrap {
    position: absolute;
    width: auto;
    height: auto;
    z-index: 1;
}

#canvas-wrap {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}
